﻿@{
    
}

<!DOCTYPE html>

<html lang="en">
     <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        @RenderPage("~/Shared/_Header.cshtml")
     </head>
    <body>
    @RenderBody()
    </body>
    @RenderPage("~/Shared/_Footer.cshtml")
</html>
