﻿@{Layout="../Layout.cshtml";
  var db = Database.Open("Koelkastapp");
var selectedData = db.Query("SELECT * FROM producten Where Categorie=1;");
var grid = new WebGrid(source: selectedData);
  
  
  }

<html lang="en">
   <body>
     <div class="col-xs-12">
        <div class="dataoutput"></div>
         @grid.GetHtml(
            columns: grid.Columns(
        grid.Column("Productnaam"),
        grid.Column("Aantal")
        )

)
        </div>
   </div>
</body>

</html>
